.navbar ul {
  margin: 0 auto!important;
}

.fancy-input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  font-size: 16px;
  padding: 10px 20px;
}

.fancy-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

#sidebar-wrapper {
    min-height: 100vh !important;
    margin-left: -15rem !important;
    -webkit-transition: margin .25s ease-out !important;
    -moz-transition: margin .25s ease-out !important;
    -o-transition: margin .25s ease-out !important;
    transition: margin .25s ease-out !important;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem !important;
    font-size: 1.2rem !important;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem !important;
  }

  .coin-flip {
    /* border: 1px solid red; */
    position: absolute;
    margin: auto;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    transform-style: preserve-3d;
    animation: - 1.5s ease-in-out 0s infinite alternate;
  }
  
  #controls {
    /* border: 1px solid blue; */
    position: absolute;
    text-align: center;
    margin: auto;
    top: 110px;
    /* TODO: Figure out how to auto-center this div, rather than the 3-line hack that follows  */
    width: 130px;
    left: 0;
    right: 0;
  }
  
  #div-debuginfo{
    top: 170px;
    position: absolute;
    margin: auto;
    width: 250px;
    left: 0;
    right: 0;
  }
  
  #div-balance {
    display: inline-block;
  }
  
  .coin-flip img {
    width: 100px;
  }
  
  .coin-heads, .coin-tails {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .coin-heads{
    animation: flip-head .1s linear 0s infinite alternate;
  }
  .coin-tails{
    animation: flip-tail .1s linear 0s infinite alternate;
  }
  
  @keyframes fly {
    0% { top: 100%; }
    100% { top: 0%; }
  }
  
  @keyframes flip-head {
    0%, 100% { transform: rotateX(0deg); }
    50% { transform: rotateX(180deg); }
  }
  
  @keyframes flip-tail {
    0%, 100% { transform: rotateX(180deg); }
    50% { transform: rotateX(0deg); }
  }

  
  .fancy-input {
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  font-size: 16px;
  padding: 15px 20px;
}

.fancy-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

